

* {
  box-sizing: border-box;
}
.row > div{
  border:4px solid black;
  background-color: gray;
  font-style: italic;
  margin-right: auto;
    
 
}

.container{
 
  background-color: white;
  padding: 10px;
}

#header{
  text-align: center;
  padding: 10px 10px ;
 
  overflow: auto;

}
h3{
position: relative;
top: 0;
right: 0;
padding-right: 3px;
text-align: right;
text-decoration-color: black;
    text-align: center;
   margin-left: 330px;
}
#header1{

    background-color: wheat;

}
#header2{

    background-color: mediumseagreen;

}
#header3{
    background-color: palevioletred;

}
@media (min-width:  992px){
	.col-sm-1,.col-sm-2,.col-sm-3{
		margin: 3px;
        padding: 5px;
		float: left;
		border: 1px solid green;
	}

.col-sm-1 {
    float: left;
    width: 32.9%;
    height: 350px;
    overflow: auto;
    
  }
 .col-sm-2 {
   float: left;
   width: 32.9%;
   height: 350px;
   overflow: auto;
}
 
 .col-sm-3{
   float: right;
    width: 32.9%;
 height: 350px;
 overflow: auto;
 }
  
}
@media (min-width: 767px) and (max-width: 992px) {

 .col-sm-1,.col-sm-2,.col-sm-3{
        margin: 3px;
        padding: 5px;
		
		border: 1px solid green;
	}
.col-sm-1 {
	float: left;
    width: 49%;
    height: 300px;
    overflow: auto;
    
  }
 .col-sm-2 {
 	float: right;
   width: 49%;
   height: 300px;
   overflow: auto;
}
 
 .col-sm-3{
 	float: left;
    width: 100%;
    height: 300px;
    overflow: auto;
 }
  
}
@media (max-width: 767px) {

 .col-sm-1,.col-sm-2,.col-sm-3{
       margin: 3px;
        padding: 5px;
		
		border: 1px solid green;

	}
.col-sm-1 {
    width: 100%;
    height: 300px;
    overflow: auto;
  }
 .col-sm-2 {
   width: 100%;
   height: 300px;
   overflow: auto;
 }
 
 .col-sm-3{
    width: 100%;
    height: 300px;
    overflow: auto;
 }
  
}
